/Temp/
/Library/
/Builds/
/Assembly-UnityScript-Editor.unityproj
/Assembly-UnityScript-Editor-firstpass.unityproj
/Assembly-UnityScript-Editor-firstpass.pidb
/Assembly-UnityScript-Editor-firstpass-vs.unityproj
/Assembly-UnityScript-Editor.pidb
/Assembly-UnityScript-Editor.unityproj
/Assembly-UnityScript-Editor-vs.unityproj
/Assembly-UnityScript-firstpass.pidb
/Assembly-UnityScript-firstpass.unityproj
/Assembly-UnityScript-firstpass-vs.unityproj
/Assembly-UnityScript.pidb
/Assembly-UnityScript.unityproj
/Assembly-UnityScript-vs.unityproj
/Assembly-CSharp.csproj
/Assembly-CSharp-vs.csproj
/Assembly-CSharp-firstpass-vs.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp.pidb
/Assembly-CSharp-Editor-firstpass-vs.csproj
/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-CSharp-Editor-firstpass.pidb
/Assembly-Boo-firstpass-vs.booproj
/Assembly-Boo-firstpass.booproj
/Assembly-Boo-vs.booproj
/Assembly-Boo.booproj
/Assets/Resources/prefabs.meta
/Assets/Game/Patcher/patchsettings-editor.txt
/Assembly-CSharp-vs.pidb
/Assembly-CSharp-firstpass-vs.pidb
/Assembly-CSharp-Editor-firstpass-vs.pidb
/Assembly-Boo.pidb
/input-csharp.sln
/input.sln
/input.userprefs