/Temp/
/Library/
/Builds/
/Assembly-UnityScript-Editor.unityproj
/Assembly-UnityScript-Editor-firstpass.unityproj
/Assembly-UnityScript-Editor-firstpass.pidb
/Assembly-UnityScript-Editor-firstpass-vs.unityproj
/Assembly-UnityScript-Editor.pidb
/Assembly-UnityScript-Editor.unityproj
/Assembly-UnityScript-Editor-vs.unityproj
/Assembly-UnityScript-firstpass.pidb
/Assembly-UnityScript-firstpass.unityproj
/Assembly-UnityScript-firstpass-vs.unityproj
/Assembly-UnityScript.pidb
/Assembly-UnityScript.unityproj
/Assembly-UnityScript-vs.unityproj
/Assembly-CSharp.csproj
/Assembly-CSharp-vs.csproj
/Assembly-CSharp-firstpass-vs.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp.pidb
/Assembly-CSharp-Editor-firstpass-vs.csproj
/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-CSharp-Editor-firstpass.pidb
/Assembly-Boo-firstpass-vs.booproj
/Assembly-Boo-firstpass.booproj
/Assembly-Boo-vs.booproj
/Assembly-Boo.booproj
/krautscape.git.sln
/krautscape.git.userprefs
/krautscape.git-csharp.sln

/Sources/Patcher/Temp/
/Sources/Patcher/Library/
/Sources/Patcher/Builds/
/Sources/Patcher/Assembly-UnityScript-Editor.unityproj
/Sources/Patcher/Assembly-UnityScript-Editor-firstpass.unityproj
/Sources/Patcher/Assembly-UnityScript-Editor-firstpass.pidb
/Sources/Patcher/Assembly-UnityScript-Editor-firstpass-vs.unityproj
/Sources/Patcher/Assembly-UnityScript-Editor.pidb
/Sources/Patcher/Assembly-UnityScript-Editor.unityproj
/Sources/Patcher/Assembly-UnityScript-Editor-vs.unityproj
/Sources/Patcher/Assembly-UnityScript-firstpass.pidb
/Sources/Patcher/Assembly-UnityScript-firstpass.unityproj
/Sources/Patcher/Assembly-UnityScript-firstpass-vs.unityproj
/Sources/Patcher/Assembly-UnityScript.pidb
/Sources/Patcher/Assembly-UnityScript.unityproj
/Sources/Patcher/Assembly-UnityScript-vs.unityproj
/Sources/Patcher/Assembly-CSharp.csproj
/Sources/Patcher/Assembly-CSharp-vs.csproj
/Sources/Patcher/Assembly-CSharp-firstpass-vs.csproj
/Sources/Patcher/Assembly-CSharp-firstpass.csproj
/Sources/Patcher/Assembly-CSharp.pidb
/Sources/Patcher/Assembly-CSharp-Editor-firstpass-vs.csproj
/Sources/Patcher/Assembly-CSharp-Editor-firstpass.csproj
/Sources/Patcher/Assembly-CSharp-Editor-firstpass.pidb
/Sources/Patcher/Assembly-Boo-firstpass-vs.booproj
/Sources/Patcher/Assembly-Boo-firstpass.booproj
/Sources/Patcher/Assembly-Boo-vs.booproj
/Sources/Patcher/Assembly-Boo.booproj


/Sources/Patcher/Assembly-CSharp-Editor-vs.csproj
/Sources/Patcher/Assembly-CSharp-Editor.csproj
/Sources/Patcher/Assembly-CSharp-Editor.pidb

/Sources/Patcher/Patcher.sln
/Sources/Patcher/Patcher.userprefs
/Sources/Patcher/Patcher-csharp.sln
/Assets/Resources/prefabs.meta

/Assets/Game/Patcher/patchsettings-editor.txt
/Assembly-CSharp-vs.pidb
/Assembly-CSharp-firstpass-vs.pidb
/Assembly-CSharp-Editor-firstpass-vs.pidb
/Assembly-Boo.pidb